.container-fluid
  .navbar-header
    button.navbar-toggle(type="button" data-toggle="collapse" data-target="#navbar-collapse")
      .span.sr-only Toggle navigation
      .span.icon-bar
      .span.icon-bar
      .span.icon-bar

    a.navbar-brand(href="#") My Girder Extension

  .collapse.navbar-collapse#navbar-collapse
    ul.nav.navbar-nav
      each item in primaryItems
        li(class={active: item.active})
          a(href="#{'#' + item.path}") #{item.name}

    ul.nav.navbar-nav.navbar-right
      each item in secondaryItems
        li(class={active: item.active})
          a(href="#{'#' + item.path}") #{item.name}
