.colors {

  &__thumbnail {
    width: 100%;
    padding-bottom: 40%;

    @media (min-width: $screen-sm-min) {
      padding-bottom: 30%;
    }

    @media (min-width: $screen-md-min) {
      padding-bottom: 100%;
    }
  }
}
