@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap-theme.css";
@import "~nprogress/nprogress.css";

@import "application/styles";
@import "books/styles";
@import "colors/styles";
@import "flashes/styles";
@import "header/styles";
@import "index/styles";

html, 
body, 
.application {
  position: relative;
  height: 100%;
  width: 100%;
}
